body {
	text-align: justify;
	font-size: 13pt;
}

#header-image {
	background-image: url("/img/projects/pathfinding/main.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 325px;
	position: relative;
	z-index: -999;
}

#header-overlay {
	position: absolute;
	background-color: black;
	opacity: 0.6;
	width: 100%;
	height: 100%;
}

#article-title {
	position: absolute;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
	text-align: center;
	padding: 0px 40px;
	color: white;
	font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
	font-size: 40pt;
	line-height: 40pt;
}

@media (min-width: 576px) {
	#article-title {
		font-size: 50pt;
		line-height: 50pt;
	}
}

#article-metadata {
	text-align: center;
	margin-top: 15px;
	margin-right: 50px;
	margin-left: 50px;
	color: #999999;
	font-size: 11pt;
	font-style: italic;
	font-family: "Roboto Slab", sans-serif;
}

#article-toc {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
	font-size: 14pt;
	padding-bottom: 0px;
}

#article-toc a:hover {
	font-weight: bold;
}

#article-content {
	width: 80%;
	margin-bottom: 100px;
}

@media (min-width: 576px) {
	#article-content {
		width: 60%;
	}
}

#article-content p {
	padding-top: 10px;
	line-height: 26pt;
}

#article-content pre {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	tab-size: 4;
}

.article-section-header {
	border-bottom: 1px solid #dddddd;
	margin-top: 50px;
	margin-bottom: 10px;
}

.article-section-header h2 {
	font-family: "Montserrat";
	font-weight: bold;
}

.row {
	margin-top: 25px;
	margin-bottom: 25px;
}

