#blog-toc-list {
    width: 100%;
    margin-bottom: 50px;
}

textarea {
    width: 100%;
    resize: none;
}

.textarea-header {
    font-weight: bold;    
    font-size: 12pt;
    line-height: 20pt;
}

.ciphertext-area {
    width: 100%;
}

.plaintext-area {
    width: 100%;
}

.key-area {
    margin-top: 20px;
}

.btn-info, .btn-success, .btn-danger {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.footer-spacer {
    margin-bottom: 150px
}

#toc {
    font-family: "Montserrat", sans-serif;
    font-size: 13pt;
}
