.article-section-header h1 {
    text-align: center;
    font-weight: bold;
}

#page-intro-section {
    margin-top: 100px;
}

#blog-toc-list {
    width: 100%;
}

.section-header {
    margin-top: 100px;
}

textarea {
    width: 100%;
    resize: none;
    font-family: monospace;
}

input {
    font-family: monospace;
}

.textarea-header {
    font-weight: bold;    
    font-size: 12pt;
    line-height: 20pt;
}

.ciphertext-area {
    width: 100%;
}

.plaintext-area {
    width: 100%;
}

.log-area {
    width: 100%;
    font-family: monospace;
}

.log-area textarea {
    resize: vertical;
    /* Disable wrapping */
    white-space: pre;
    overflow: auto;
}

.key-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.footer-spacer {
    margin-bottom: 150px
}

#toc {
    font-family: "Montserrat", sans-serif;
    font-size: 13pt;
}
