body {
    font-size: 11pt;
}

.page-header {
    border-bottom: 1px solid #dddddd;
    margin-top: 40px;
    margin-bottom: 30px;
}

#file-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    #file-list {
        width: 70%;
    }
}

.file-list-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*    
    display: inline-block;
    width: 100%;
    max-width: 100%;    
    */
}

.file-field {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    max-width: 200px;
    display: inline-block;
    font-size: 11pt;
    text-align: left;
}

.input-group-addon {
    text-align: left;
}

textarea {
    resize: vertical;
}

button[disabled] {
    cursor: not-allowed;
}
