.file-list-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*    
    display: inline-block;
    width: 100%;
    max-width: 100%;    
    */
}

.file-field {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    max-width: 200px;
    display: inline-block;
}

.input-group-addon {
    text-align: left;
}

textarea {
    resize: vertical;
}